<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	 <!-- Start of Open Graph -->
	 <meta property="og:title" content="{{ .Title }}">
	 {{ if .IsPage }}
	 <meta property="og:type" content="article">
	 <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
	 {{ else }}
	 {{ end }}
	 <meta property="og:description" content="{{ .Description }}">
	 <meta property="og:url" content="{{ .Permalink }}">
	 <meta property="og:site_name" content="{{ .Site.Title }}">
	 {{ $img := (.Resources.ByType "image").GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }}
	 {{ with $img }}
		 {{ $small := .Resize "180x" }}
		 <meta property="og:image" content="{{$small.Permalink}}">
		 <meta property="twitter:image" content="{{$small.Permalink}}">
	 {{ end }}
	 {{ range .Params.tags }}
	 <meta property="og:image:width" content="1200">
	 <meta property="og:image:height" content="630">
	 <meta property="og:tags" content="{{ . }}">
	 <meta property="og:locale" content="th_TH">
	 {{ end }}
	 <!-- End of Open Graph -->
	 <!-- Start of Twitter -->
	 {{ if .Site.Params.twitter_card_whitelisted }}
		 {{ if .Params.twitter_summary }}
	 <meta property="twitter:card" content="{{ .Params.twitter_summary }}">
		 {{ else if .Description }}
	 <meta property="twitter:card" content="{{ .Description }}">
		 {{ else }}
	 <meta property="twitter:card" content="{{ .Title }}">
		 {{ end }}
	 {{ end }}
	 <meta property="twitter:description" content="{{ .Description }}">
	 <meta property="twitter:title" content="{{ .Title }}">
	 <!-- End of Twitter -->
	 {{ template "_internal/google_analytics.html" . }}
</head>
{{ partial "custom_style" . }}
<body>
	{{ partial "header" . }}
	<div id="wrap">
		{{ block "main" . }}{{ end }}
	</div>
	{{ partial "footer" . }}
</body>
</html>
