<header class="div-col flex-col">
	<div class="logo-wrap">	
		<a href="{{ .Site.BaseURL }}" class="logo" title="{{.Site.Title}}">
			<img src="{{ .Site.Params.header_logo_path}}" width="32" height="32"/>
			<span class="logo-main">{{ .Site.Params.header_title }}</span>
			<span class="logo-sub">
				{{ .Site.Params.header_desc}}
			</span>
		</a>
	</div>

	<nav class="menu">
		<ul>
			<li {{ with .IsHome }}class="selected"{{ end }}>
				<a href="{{ .Site.BaseURL }}">
					Latest
				</a>
			</li>
			{{ $url := .URL }}
			{{ range .Site.Sections }}
			<li {{ if in $url .URL }}class="selected"{{ end }} >
				<a href="{{ .Page.RelPermalink }}">
					{{ .Page.Title }}
				</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</header>
